* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    font-family: 'Fraunces', sans-serif;
}

.container {
   display: flex;
   width: 600px;
   height: auto;
   background-color: white;
   border-radius: 15px;
}


.chanel {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.content-text {
    padding: 30px;
    flex: 1;
}

.perf {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

h1.text {
    margin-top: 10px;
}

div.text {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}


.actual-price {
    color: hsl(158, 36%, 37%);
    font-size: 40px;
}

.last-price {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 15px;
}

.prices {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-int {
    display: flex;
    justify-content: center;
}

button {
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 5px;
    color: white;
    width: 240px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: hsl(158, 46%, 18%);
}

.attribution {
    display: flex;
    align-items: end;
    margin-top: 80px;
}

@media only screen and (max-width: 501px) {
    .container {
        display: flex;
        width: 370px;
        height: auto;
        background-color: white;
        border-radius: 15px;
        flex-direction: column;
     }

     .chanel {
        object-fit: cover;
    object-position: 0px -81px;
    height: 326px;
    border-radius: 15px 15px 0px 0px
     }
}